        /* do not group these rules */
        *::-webkit-input-placeholder {
            color: #dddddd !important;
        }

        *:-moz-placeholder {
            /* FF 4-18 */
            color: #dddddd !important;
            opacity: 1;
        }

        *::-moz-placeholder {
            /* FF 19+ */
            color: #dddddd !important;
            opacity: 1;
        }

        *:-ms-input-placeholder {
            /* IE 10+ */
            color: #dddddd !important;
        }

        *::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #dddddd !important;
        }

        *::placeholder {
            /* modern browser */
            color: #dddddd !important;
        }
