.form-title {
    font-weight: 600;
    color: #0d6efd;
    text-align: center;
}

.viewDetail {
    cursor: pointer;
    color: #0d6efd;
}

table.dataTable {
    font-size: 0.9em;
}

table.dataTable th, table.dataTable thead td {
    border-right: 1px solid #5e6a75;
}

.dt-buttons button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px !important;
}

td > abbr[title]{
    font-size:1em;
    line-height:1em;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
}

.col_id { width: 5%; text-align: center; }
.col_owner { width: 15%; }
.col_shopName { width: 15%; }
.col_email { width: 15%; }
.col_shopType { width: 10%; }
.col_package { width: 15%; }
.col_shortDesc { width: 10%; }
.col_attachFile { width: 5%; text-align: center; }
.col_date { width: 10%; text-align: center; }

.my-tooltip.tooltip {
  max-width: 320px;
  background-color: #ffffff !important;
  backdrop-filter: blur(6px);
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  opacity: 1;
  padding: 0 !important;
}

.my-tooltip.tooltip .tooltip-inner {
  display: block;
  max-width: 100% !important;
  width: 100% !important;
  white-space: normal !important;
  word-wrap: break-word;
  word-break: break-word;
  padding: 12px 16px;
  line-height: 1.5;
  font-size: 0.95rem;
  color: #000;
  background-color: #ffffff !important;
  text-align: left;
}

