.breadcrumb li a{
    text-decoration: none;
}

.form-div {
    max-width: 700px;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.logo-img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
}

.form-div .form-title {
    font-weight: 600;
    color: #0d6efd;
    text-align: center;
}

.form-div .form-label {
    font-weight: 500;
    margin-bottom: 0;
    color: #222;
}

.form-div .form-control,
.form-div .form-select {
    background-color: transparent;
    box-shadow: none;
    font-size: 16px;
    transition: border-color 0.2s ease;
}

/* .form-div .form-control:focus,
.form-div .form-select:focus {
    border-bottom: 1px solid #000;
    box-shadow: none;
} */

.form-div .form-control::placeholder {
    color: #aaa;
}

.form-div .btn-submit {
    background-color: #0d6efd;
    color: #fff;
    transition: background-color 0.2s ease;
}

.form-div .btn-submit:hover {
    background-color: #333;
}