th{
    text-align: center !important;
}

.action_icon{
    height: 1.8em;
    margin-right: .3em;
    font-size: 1.3em !important;
}

.status_icon{
    height: 2.2em;
}

.dt-type-numeric{
    text-align: center !important;
}

.col_id{
    width: 50px;
}

.col_type{
    width: 80px;
}

.col_template{
    width: 10%;
}

.col_name{
    text-align: left !important;
}

.col_page{
    width: 130px;
}

.col_status{
    width: 5%;
}

 .col_owner{
    width: 50px;
}

.col_country{
    width: 10%;
}

.col_action{
    width: 150px;
    text-align: center;
}

td{
    font-size: 0.9em !important;
}



::placeholder {
    color: #cccccc !important;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: red;
}