th{
    text-align: center !important;
}

.action_icon{
    height: 1.8em;
    margin-right: .3em;
    font-size: 1.3em !important;
}

.status_icon{
    height: 2.2em;
}

.col_id{
    width: 50px;
}

.col_email{
    text-align: left !important;
}

.col_channel{
    width: 10%;
}

.col_status{
    width: 5%;
}

.col_action{
    width: 150px;
    text-align: center;
}

::placeholder {
    color: #cccccc !important;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: red;
}